@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Immagine</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Margherita</th>
            <td>Pizza con pomodoro e mozzarella</td>
            <td><img alt="margherita" src="https://img.pizza/200/200"></td>
            <td>5 €</td>
        </tr>
        <tr>
            <th scope="row">Greca</th>
            <td>Pizza Greca con olive</td>
            <td><img alt="greca" src="https://img.pizza/200/200"></td>
            <td>7 €</td>
        </tr>
        <tr>
            <th scope="row">Quattro stagioni</th>
            <td>Pizza Quattro stagioni </td>
            <td><img alt="stagioni" src="https://img.pizza/200/200"></td>
            <td>10 €</td>
        </tr>
        <tr>
            <th scope="row">Marinara</th>
            <td>Pizza marinara</td>
            <td><img alt="marinara" src="https://img.pizza/200/200"></td>
            <td>5 €</td>
        </tr>
    </tbody>
</table>